<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.youdu.im" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>YouDuIMPlugin</name><js-module name="YouDuIMPlugin" src="www/YouDuIMPlugin.js"><clobbers target="cordova.plugins.YouDuIMPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="YouDuIMPlugin"><param name="ios-package" value="YouDuIMPlugin" /></feature></config-file><source-file src="src/ios/YouDuIMPlugin.m" /></platform></plugin>